# editorconfig.org

root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
indent_style = space
indent_size = 4
trim_trailing_whitespace = true

[*.md]
trim_trailing_whitespace = false

[{*.yaml,*.yml,*.neon}]
indent_size = 2

[*.json]
indent_size = 2

[*.js]
ij_javascript_indent_size = 2

[*.scss]
indent_size = 2
ij_scss_hex_color_long_format = true
ij_scss_indent_size = 2
ij_scss_blank_lines_around_nested_selector = 1
