includes:
  - .neon/phpstan.includes.neon
parameters:
  level: 6
  paths:
    - assets
    - components
    - controllers
    - events
    - helpers
    - messages
    - models
    - notifications
    - permissions
    # - tests
    - views
    - widgets
    - config.php
    - Events.php
    - GameCenterModule.php
    - translate.php
  editorUrl: 'phpstorm://open?file=%%file%%&line=%%line%%'
  editorUrlTitle: '%%relFile%%:%%line%%'
