includes:
  - .stubs/phpstan.includes.neon
parameters:
  errorFormat:
    table
  level: 1
  paths:
    - activities
    - assets
    - components
    - controllers
    - events
    - helpers
    - models
    - notifications
    - openapi
    # - tests
    - views
    - widgets
    - config.php
    - Events.php
    - GameCenterModule.php
    - translate.php
  editorUrl: 'phpstorm://open?file=%%file%%&line=%%line%%'
  editorUrlTitle: '%%relFile%%:%%line%%'
  tmpDir: .cache/phpstan
